
@using Microsoft.AspNetCore.Authorization.Infrastructure
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles</h1>

@if (Model.Any())
{
    <div class="mb-3">
        @Html.ActionLink("New Role", "Create", "Administration", null, new { @class = "btn btn-primary" })
    </div>
    foreach (var role in Model)
    {

        <div id="roles" class="card mb-3">
            <div class="card-header">
                @Html.DisplayNameFor(r => r.Id): @role.Id
            </div>
            <div class="card-body">

                <h5 class="card-title">@role.Name</h5>

            </div>
            <div class="card-footer">

                <a class="btn btn-outline-info" asp-controller="Administration"  asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Administration"  asp-action="Delete" asp-route-id="@role.Id" >Delete</a>
            </div>

        </div>


    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <div>
                @Html.ActionLink("New Role", "Create", "Administration", null, new { @class = "btn btn-primary" })
            </div>

        </div>

    </div>
}
