@model Vidly.ViewModel.MovieFormViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Movie</h2>
@using (@Html.BeginForm("Save","Movies"))
{
    <div class="form-group w-25">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(model => model.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group w-25">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(model => model.Movie.ReleaseDate, "{0:d MMM yyyy}",new { @class = "form-control" })
    </div>
    <div class="form-group w-25">
        @Html.DropDownListFor(m => m.Movie.Genre.Id, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group w-25">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(model => model.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(c =>c.Movie.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}